<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="all">
            <file>tests/Test/JsonCall/CommonTest.php</file>
            <file>tests/Test/JsonCall/TableTest.php</file>
            <file>tests/Test/Table/GetTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
